#include <iostream>
#include <unistd.h>

template <int n>
void print()
{
    std::cout << "Sleeping for 0.3 second" << std::endl;
    usleep(300000);
    std::cout << n << std::endl;
}

int main()
{
    print<{{default N 42}}>();
    return 0;
}